extends ../../layout/octo

include ../../partial/mixin/options

block content
    form(method="POST")#FORM_DELETE
        input(type="hidden", name="_method", value="DELETE")
    form(method="POST",action="/octo/tickets/"+ticket.id)#DELETE_TICKET.form-horizontal
        input(type="hidden", name="_method", value="DELETE")
    div.row
        div.col-xs-12
            a(href="/octo/tickets") Back
            if (current.role == "Worker" || (current.role == "Client" && ticket.status == "Open"))
                div.pull-right
                    button(onclick="return window.confirm('weet je dit zeker?');", form="DELETE_TICKET").btn.btn-danger: i.fa.fa-trash
            h2 #{ticket.title}
            div.row
                div.col-sm-7
                    p
                        span(class="label label-"+options.priority[ticket.priority])= ticket.priority
                        | &nbsp;
                        span(class="label label-"+options.status[ticket.status])= ticket.status
                    div.form-group
                        pre(readonly, style="min-height:200px;resize:vertical;").form-control #{ticket.description}
                    if ticket.comments
                        each comment in ticket.comments
                            div
                                hr
                                h4 #{comment.client}
                                    if (current.role == "Worker")
                                        button(onclick="return window.confirm('weet je dit zeker?');", form="FORM_DELETE", formaction="/octo/tickets/"+ticket.id+"/comment/delete/"+comment.id).btn.btn-danger.btn-xs.pull-right: i.fa.fa-trash
                                pre(readonly, style="resize:vertical;").form-control #{comment.content}
                    h2  Reageren
                    form(method="POST",action="/octo/tickets/"+ticket.id+"/comment/create")
                        input(type="hidden", value=current.name, name='client')
                        div.form-group
                            textarea(name='content', rows="2", style="resize:vertical;").form-control
                        div.form-group
                            button.btn.btn-primary.pull-right: i.fa.fa-plus
                        div.clearfix
                div.col-sm-5
                    form(method="POST",action="/octo/tickets/"+ticket.id)
                        input(type="hidden", name="_method", value="PUT")
                        div.form-group
                            label(for="id").control-label #
                            div
                                input(value=ticket.id, name='id', readonly)#id.form-control
                        div.form-group
                            label(for="client").control-label Client
                            div
                                input(value=ticket.client, name='client', readonly)#client.form-control
                        div.form-group
                            label(for="created").control-label Gemaakt op
                            div
                                input(value=ticket.created, name='created', readonly)#created.form-control
                        div.form-group
                            label(for="priority").control-label Prioriteit
                            div
                                select(name='priority')&attributes({'disabled': current.role != "Worker"})#priority.form-control
                                    +options(options.priorities, ticket.priority)
                        div.form-group
                            label(for="status").control-label Status
                            div
                                select(name='status')&attributes({'disabled': current.role != "Worker"})#status.form-control
                                    +options(options.statuses, ticket.status)
                        div.form-group
                            label(for="assigned").control-label Toegewezen
                            div
                                select(name='assigned')&attributes({'disabled': current.role != "Worker"})#assigned.form-control
                                    option(selected, disabled, hidden, value='')
                                    +options(options.workers, ticket.assigned)
                        div.form-group
                            label(for="updated").control-label Updated op
                            div
                                input(value=ticket.updated, name='updated', readonly)#updated.form-control
                        if (current.role == "Worker")
                            div.form-group.pull-right
                                button.btn.btn-primary: i.fa.fa-pencil
