extends layout/base

block content
    h1= title
    if (error)
        div.alert.alert-danger #{error}
    ul.media-list.col-md-12.groups
        each group in groups
            li.media
                hr
                img(src=group.logo, style="margin:auto;").visible-xs.center-block.img-responsive
                .media-left
                    a.hidden-xs
                        img(src=group.logo).center-block
                .media-body
                    h4.media-heading= group.name
                    p= group.description
                    ul
                        each member in group.members
                            li= member
                    a(href=group.url).pull-right Bezoek website
