extends layout/base

block content
    if (error)
        div.alert.alert-danger #{error}
    div.col-lg-push-1.col-lg-10
        ul.list-group.groups
            each group in groups
                li.list-group-item
                    img(src=group.logo, style="margin:auto;").visible-xs.center-block.img-responsive
                    div.media-left
                        a.hidden-xs
                            img(src=group.logo).center-block
                    div.media-body
                        h4.list-group-item-heading= group.name
                        p.list-group-item-text= group.description
                        ul
                            each member in group.members
                                li= member
                        a(href=group.url).pull-right Bezoek website
