extends layout/base

block content
    h1= title
    ul.media-list.col-md-12.groups
        each group in groups
            li.media
                hr
                .media-left
                    a.hidden-xs
                        img(src=group.logo)
                .media-body
                    p.text-center
                        img(src=group.logo, style="margin:auto;").visible-xs
                    h4.media-heading= group.name
                    p= group.description
                    ul
                        each member in group.members
                            li= member
                    a(href=group.url).pull-right Bezoek website
