extends ../layout/octo

block content
    div.btn-group
        a(href="/octo/tickets/create").btn.btn-success Nieuwe Ticket
    div.panel.panel-custom
        table.table
            thead
                tr
                    th #
                    th Title
                    th Client
                    th Created_at
                    th Assigned to
                    th Priority
                    th Status
                    th
            tbody
                each ticket in tickets
                    tr
                        td= ticket.id
                        td: a(href="/octo/tickets/"+ticket.id) #{ticket.title}
                        td= ticket.client
                        td= ticket.created_at
                        td= ticket.assigned
                        td: span(class="label label-"+options.priority[ticket.priority])= ticket.priority
                        td: span(class="label label-"+options.status[ticket.status])= ticket.status
                        td
                            a(href="/octo/tickets/"+ticket.id).btn.btn-primary.btn-xs: i.fa.fa-angle-right
