extends ../layout/octo

include ../partial/mixin/options

block content
    div.panel.panel-custom
        form(method="POST",action="/octo/tickets/"+ticket.id).form-horizontal
            input(type="hidden", name="_method", value="PUT")
            div.row
                div.col-sm-12
                    div.col-md-12
                        h2 #{ticket.title}
                    div.col-md-7
                        p
                            span(class="label label-"+options.priority[ticket.priority])= ticket.priority
                            span(class="label label-"+options.status[ticket.status])= ticket.status
                        div.col-sm-12
                            div.form-group
                                textarea(readonly, rows="10", style="resize:vertical;").form-control #{ticket.description}
                    div.col-md-5
                        div.form-group
                            label(for="id").col-sm-2.col-md-3.control-label #
                            div.col-sm-10.col-md-9
                                input(value=ticket.id, name='id', readonly)#id.form-control
                        div.form-group
                            label(for="client").col-sm-2.col-md-3.control-label Client
                            div.col-sm-10.col-md-9
                                input(value=ticket.client, name='client', readonly)#client.form-control
                        div.form-group
                            label(for="created").col-sm-2.col-md-3.control-label Created at
                            div.col-sm-10.col-md-9
                                input(value=ticket.created_at, name='created_at', readonly)#created.form-control
                        div.form-group
                            label(for="priority").col-sm-2.col-md-3.control-label Priority
                            div.col-sm-10.col-md-9
                                select(name='priority')#priority.form-control
                                    +options(options.priorities, ticket.priority)
                        div.form-group
                            label(for="status").col-sm-2.col-md-3.control-label Status
                            div.col-sm-10.col-md-9
                                select(name='status')#status.form-control
                                    +options(options.statuses, ticket.status)
                        div.form-group
                            label(for="assigned").col-sm-2.col-md-3.control-label Assigned to
                            div.col-sm-10.col-md-9
                                select(name='assigned')#assigned.form-control
                                    +options(options.workers, ticket.assigned)
                        div.form-group
                            label(for="updated").col-sm-2.col-md-3.control-label Updated at
                            div.col-sm-10.col-md-9
                                input(value=ticket.updated_at, name='updated_at', readonly)#updated.form-control
                        div.form-group.pull-right
                            div.col-xs-12
                                button.btn.btn-primary Update

