extends ../layout/base

block content
    if error != ""
        div.alert.alert-danger
            p #{error}
    if success != ""
        div.alert.alert-success
            p #{success}

    h2 Bedrijven
        div.btn-group.pull-right
            a(href="/companies").btn.btn-success Bedrijven
            a(href="/password/remove").btn.btn-danger Uitloggen

    p Klik op de content om het aan te passen
     ul
         li Naam van de groep
         li Pitch
         li Direct link naar het logo
         li URL naar de website
         li Personen gescheiden door een komma
    table.table
        thead
            tr
                th #
                th Naam
                th Beschrijving
                th Logo
                th URL
                th Personen
                th Actions
        tbody
            each group in groups
                tr
                    td= group.id
                    td(contentEditable)= group.name
                    td(contentEditable)= group.description
                    td(contentEditable)= group.logo
                    td(contentEditable)= group.url
                    td(contentEditable)= group.members
                    td
                        button.btn.btn-primary.btn-apply Apply
    p.pull-right


block script
    script(src="/dist/js/groups.js")
